{% assign novCol = 3 %}
{% assign novLimit = 9 %}
{% assign currentProduct = article %}
{% assign bloghandle = blog.handle %}
{% if blogs[bloghandle].articles_count > 1 %}
  <div class="BlogRelated">
    <div class="title_block">{{ 'blogs.related' | t }} {{ blog.title }}</div>
    <div class="block__content">
      <div class="blog--list blog--grid-view">
        <div class="owl-carousel proLoading owl-drag" data-autoplay="true" data-autoplayTimeout="6000" data-items="{{ novCol }}" data-margin="30" data-nav="false" data-dots="true" data-loop="true" data-items_tablet="2" data-items_mobile="1">
          {% for article in blogs[bloghandle].articles limit:novLimit %}
            {% unless article.handle == currentProduct.handle %}
              <div class="item">
                <div class="article--listing">
                  <div class="article__image">
                    {% if article.image %}
                      <a href="{{ article.url }}" class="article__list-image-container">
                        <div class="respone_image" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                          {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                          <img class="article__list-image lazyload"
                            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"
                            data-src="{{ img_url }}"
                            data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ article.image.aspect_ratio }}"
                            data-sizes="auto"
                            alt="">
                        </div>
                      </a>
                    {% endif %}
                  </div>
                  <div class="article-body">
                    <h2 class="article__title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                    <div class="article__excerpt">
                      {% if article.excerpt.size > 0 %}
                        {{ article.excerpt | truncate: 120 }}
                      {% else %}
                        {{ article.content | strip_html | truncate: 100 }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}