{%- assign limit = section.settings.products_per_page -%}
{% if template == "collection.leftsidebar" or template == "collection.rightsidebar" %}
  {% assign viewtype = "sidebar" %}
{% elsif template == "collection.full_width" %}
  {% assign viewtype = 'sidebar_full' %}
{% elsif template == "collection.nosidebar" %}
  {% assign viewtype = 'sidebar_hidden' %}
{% else %}
  {% if settings.type_sidebar == 'sidebar_left' or settings.type_sidebar == "sidebar_right" %}
    {% assign viewtype = 'sidebar' %}
  {% elsif settings.type_sidebar == 'sidebar_widthout' %}
    {% assign viewtype = 'sidebar_full' %}
  {% elsif settings.type_sidebar == 'sidebar_hidden' %}
    {% assign viewtype = 'sidebar_hidden' %}
  {% endif %}
{% endif %}
{% paginate collection.products by limit %}
  <div data-section-id="{{ section.id }}" data-section-type="collection-template" data-panigation="{{ limit }}">
    {% case section.settings.grid %}
      {% when '2' %}
        {%- assign grid_item_width = 'col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-30' -%}
        {%- assign img_size = settings.img_size_large -%}
      {% when '3' %}
        {%- assign grid_item_width = 'col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30' -%}
        {%- assign img_size = settings.img_size_large -%}
      {% when '4' %}
        {%- assign grid_item_width = 'col-lg-3 col-md-4 col-xs-6 mb-30' -%}
        {%- assign img_size = settings.img_size -%}
      {% when '5' %}
        {%- assign grid_item_width = 'col-lg-cus-5 col-md-cus-5 col-xs-6 mb-30' -%}
        {%- assign img_size = settings.img_size -%}
      {% when '6' %}
        {%- assign grid_item_width = 'col-lg-2 col-md-3 col-xs-6 mb-30' -%}
        {%- assign img_size = settings.img_size -%}
    {% endcase %}
    <div class="row collection-view-items {% if viewtype == 'sidebar' %}view_2{% elsif viewtype == 'sidebar_full' %}view_3{% elsif viewtype == 'sidebar_hidden' %}view_4{% endif %}{% if collection.products_count > 0 %} grid--view-items{% endif %}">
      {% for product in collection.products %}
        {% for product_option in product.options_with_values %}
          {% if product_option.name == 'Color' %}
            {% capture colours %}{% for value in product_option.values %}{% unless forloop.first %},{% endunless %}{{ value }}{% endfor %}{% endcapture %}
          {% endif %}
          {% if product_option.name == 'Size' %}
            {% capture size %}{% for value in product_option.values %}{% unless forloop.first %},{% endunless %}{{ value }}{% endfor %}{% endcapture %}
          {% endif %}
          {% if product_option.name == 'Material' %}
            {% capture materials %}{% for value in product_option.values %}{% unless forloop.first %},{% endunless %}{{ value }}{% endfor %}{% endcapture %}
          {% endif %}
        {% endfor %}

        {% if product.tags %}
          {% capture tagg %}{% for tag in product.tags %}{% unless forloop.first %},{% endunless %}{{ tag | handle }}{% endfor %}{% endcapture %}
        {% endif %}
        <div class="nov-wrapper-product col" data-colors="{{ colours | escape | strip_html }}" data-materials="{{ materials | escape }}" data-sizes="{{ size | escape }}" data-tags="{{ tagg | escape }}" data-price="{{ product.price | money_without_currency }}">
          <div class="item-product{% unless product.available %} product-price--sold-out{% endunless %}">
            {% assign variantCount = product.variants | size %}
            {%- assign img_size = settings.img_size_large -%}
            <div class="thumbnail-container{% if product.images.size > 2 %} has-multiimage{% endif %}{% if section.settings.show_variant_color and variantCount > 1 %} has_variants{% endif %}">
              <a href="{{ product.url | within: collection }}">
                <div class="respone_image" style="padding-top:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100}}%">
                  {% assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <noscript>
                    <img class="img-fluid product__thumbnail-second lazyload" data-src="{{ product.featured_image.src | img_url: '1024x' }}" alt="">
                  </noscript>
                  <img class="product__thumbnail lazyload"
                    src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 10'%3E%3C/svg%3E"
                    data-src="{{ img_url }}"
                    data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                    data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="" 
                    data-image>
                  {% for image in product.images %}
                    {% assign img_second = image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                    {% if forloop.first != true %}
                      <img id="{{ img_id }}"
                        class="img-fluid product__thumbnail-second lazyload"
                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 10'%3E%3C/svg%3E"
                        data-src="{{ img_second }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                        data-aspectratio="{{ image.aspect_ratio }}"
                        data-sizes="auto"
                        alt=""
                        data-image>
                      {% break %}
                    {% endif %}
                  {% endfor %}
                </div>
              </a>
              <div class="group_add">
                {% assign variantCount = product.variants | size %}
                {% if product.available %}
                  <form class="formAddToCart" action="/cart/add" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                    {% if variantCount > 1 %}
                      <a class="hover_x btn btnAddToCart btnChooseVariant" href="javascript:void(0);" data-url="/products/{{ product.handle }}?view=json"
                        {% if settings.tooltip_enable %} data-toggle="tooltip" data-placement="top" {% endif %} title="" tabindex="0">
                        <span>{{ 'products.product.select_options' | t }}</span>
                        <i class="zmdi zmdi-long-arrow-right"></i>
                      </a> 
                    {% else %}
                      <button class="hover_x btn btnAddToCart" type="submit" value="Submit" data-handle="{{ product.handle }}" data-pid="{{ product.variants.first.id }}"{% if settings.tooltip_enable %} data-toggle="tooltip" data-placement="top"{% endif %} title="" tabindex="0">
                        <span>{{ 'products.product.add_to_cart' | t }}</span>
                        <i class="zmdi zmdi-long-arrow-right"></i>
                      </button>
                    {% endif %}
                  </form>
                {% else %}
                  <button class="btn btnsold_out sold_out d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#Form_newletter">
                    <span class="hover_x note align-items-center">
                      <span>
                        <i class="zmdi zmdi-email"></i>
                        <span>{{ "products.product.notify_me" | t }}</span>
                      </span>
                      <i class="zmdi zmdi-long-arrow-right"></i>
                    </span>
                    <span class="loading"><i class="fa fa-spin"></i></span>
                  </button>
                {% endif %}
              </div>
              <div class="group-buttons">
                {% if settings.wishlist_enable %}
                  {% include 'nov-wishlist' %}
                {% endif %}
                {% if settings.quickview_enable %}
                  {% include 'nov-quickview' %}
                {% endif %}
              </div>
            </div>
            <div class="product__info">
              <div class="block_product_info">
                <div class="cate">
                  {% for collection in product.collections %}
                    {% if forloop.first == true %}
                      <a href="{{ collection.url }}" title="{{ collection.title }}">{{ collection.title }}</a>
                    {% endif %}
                  {% endfor %}
                </div>
                <div class="product__title">
                  <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                </div>
                <div class="product__price{% if settings.show_rating == false %} pb-20{% endif %}">
                  {% include 'product-price' %}
                </div>
                {% if section.settings.show_variant_color %}
                  <div class="selectorVariants {% if product.variants.size > 1 %} has-border{% endif %}">
                    {% include 'nov-swatch-color' with 'Color' %}
                  </div>
                {% endif %}
                {% unless product.available %}
                  <div class="available_product d-flex">
                    <span class="product__available sold-out mt-15">
                      <i class="zmdi zmdi-alert-octagon"></i>
                      <span>{{ "products.product.sold_out" | t }}</span>
                    </span>
                  </div>
                {% else %}
                  <div class="available_product d-flex">
                    <span class="product__available in-stock mt-15">
                      <i class="fa fa-check-square-o" aria-hidden="true"></i>
                      <span>{{ "products.product.in_stock" | t }}</span>
                    </span>
                  </div>
                {% endunless %}
                {% if section.settings.desc_enable %}
                  <div class="desc mt-15">{{ product.description | strip_html | truncate: 230 }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% else %}
        {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
          <div class="grid__item">
            <div class="grid grid--uniform">
              {% for i in (1..limit) %}
              <div class="grid__item {{ grid_item_width }}">
                <div class="grid-view-item">
                  <a href="#" class="grid-view-item__link">
                    <div class="grid-view-item__image">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="grid-view-item__meta">
                      <span class="product-price__price">$19.99</span>
                    </div>
                  </a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        {% else %}
          {%- assign is_empty_collection = true -%}
          <div class="col-lg-12 col-md-12 col-xs-12">
            <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
      <div class="nov-pagination d-flex align-items-center">
        {% include 'pagination' %}
      </div>
    {% endif %}
  </div>
{% endpaginate %}

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "min": 4,
        "max": 30,
        "step": 1,
        "label": "Products per page",
        "default": 12,
        "info": "Select number products per page"
      },
      {
        "type": "checkbox",
        "id": "show_variant_color",
        "label": "Show Variant Color",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "desc_enable",
        "label": "Enable Description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      }
    ]
  }
{% endschema %}